.desktopNavigationWrapper {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	background-color: #b5d5d1;
}

.navigationProfile {
	grid-column: 17/20;
	grid-row: 1/1;
	align-self: center;
	justify-self: center;
}