.displayProductsContainer {
	display: grid;
	grid-gap: 4%;
	width: 90%;
	margin: 0 auto;
	grid-template-columns: repeat(4, 1fr);
}

.displayProductWrapper {
	grid-template-columns: repeat(12, 1fr);
}

.displayProductSubWrapper {}

.displayProductSubWrapper:hover {
	cursor: pointer;
}

.productImg {
	width: 100%;
	box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
}

.productImg:hover {
	opacity: 0.5;
}

.addToCartButton {
	background-color: #4084b5;
	text-align: center;
	padding: 1.5%;
	color: white;
	font-size: 0.75rem;
	font-weight: 600;
}

.addToCartButton:hover {
	cursor: pointer;
}

.pBrand,
.pTitle {
	color: #313942;
	line-height: 5px;
	font-family: MuseoSans-500, arial;
	font-size: 0.875rem;
	font-weight: 600;
}

.pPrice {
	color: #313942;
	font-size: 0.875rem;
}