.ulTabsWrapper {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.liTabsWrapper {
	display: inline;
	cursor: pointer;
	padding: 7%;
	transition: 0.2s;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;

}

.liTabsWrapper:hover {
	transition: 0.3s;
	font-size: 1.1rem;
}