.signInButton {
	grid-column: 17/20;
	grid-row: 1/1;
	align-self: center;
	justify-self: center;
	cursor: pointer;
}

.navigationLogotype {
	grid-column: 2/4;
	grid-row: 1/1;
	cursor: pointer;
	align-self: center;
	justify-self: center;
}

.searchForRecipe {
	grid-column: 6/14;
	grid-row: 1/1;
	align-self: center;
	justify-self: center;
}

.createRecipeNav {
	grid-column: 17/17;
	grid-row: 1/1;
	align-self: center;
	justify-self: center;
}